version: 0.3.0.{build}

image:
- Visual Studio 2015
- Ubuntu

install:
  - ps: Install-Module Pester -Scope CurrentUser -Force
  - ps: Install-Module psake -Scope CurrentUser -Force

build: false

test_script:
  - ps: |
        Import-Module psake
        Invoke-PSake AppveyorTest
        # this is a hack, psake doesn't propagate exit code
        if ($psake.build_success -eq $false) {
            exit 1
        }

deploy: off

on_finish:
    - ps: |
        # Only publish one artifact
        if(-not $IsWindows) { exit }
        $stagingDirectory = (Resolve-Path .).Path
        $zipFile = Join-Path $stagingDirectory "$(Split-Path $pwd -Leaf).zip"
        Add-Type -assemblyname System.IO.Compression.FileSystem
        [System.IO.Compression.ZipFile]::CreateFromDirectory((Join-Path $pwd 'ZLocation'), $zipFile)
        @(
            # You can add other artifacts here
            (ls $zipFile)
        ) | % { Push-AppveyorArtifact $_.FullName }
